.item_type_grid{
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(245, 247, 247);
    padding: 5px;
}

.checkout_grids{
    border-bottom: 1px solid rgb(246, 245, 245);
    padding :0px
    
}
.item_type_column{
    padding: 0px 12px !important;
}

.mantine-NumberInput-input{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 0 !important;
    text-align: center;
    background: rgb(255, 245, 245);
    border:none;
    /* margin-left: 10px; */
    font-weight: 100;
    /* font-size: 14px; */

}

/* .item_type_number_input{
    height: 20px;

} */
.price_test{
    background: rgb(255, 245, 245);
    padding: 5px;
    /* height: 10px; */
    text-align: center;
    border-radius: 10px;
    font-weight: 100;
    font-size: 14px;
    /* color:gray */
    /* padding-bottom: 20px; */
}

.mantine-Card-root{
    margin: 10px;
    padding: 5px;

}

.article_name{
    padding: 0px 10px;
    font-weight: 25px;
    font-size: 30px;
}

/* .mantine-Card-cardSection{
    height: 200px;

} */